<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level - %msg%n"/>
        </Console>
    </Appenders>

    <!-- disable noisy HTTP logs -->
    <Logger name="org.apache.hc.client5.http" level="warn"/>
    <Logger name="org.apache.http" level="warn"/>
    <Logger name="org.apache.hc" level="warn"/>

    <Root level="info">
        <AppenderRef ref="Console"/>
    </Root>

</Configuration>